/*
Theme Name: Hyper Commerce
Theme URI: http://themethread.com/theme/hypercommerce/
Author: Themethread
Author URI: http://www.themethread.com/
Description: HyperCommerce is a fully responsive, WooCommerce supported, mobile first WordPress Theme. HyperCommerce provides a fast and easy way to build your dream e-shop, online store, e-commerce site or an online shop portal. With plenty of custom color, font, header, titles and buttons customization you can give this theme a new look to match your company's branding. From product details page to checkout page, all the required pages for an e-commerce platform is well bundled. Download, customize, launch and start selling. Get in touch with the support for any kind of issues, we are here to make your e-commerce portal work like a charm. Theme Demo is available at: http://demo.themethread.com/hypercommerce 
Version: 1.0.9
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: hyper-commerce
Tags: two-columns, one-column, right-sidebar, featured-images, footer-widgets, full-width-template, threaded-comments, custom-logo, translation-ready, blog, e-commerce, food-and-drink, custom-header, custom-background, custom-colors, theme-options, custom-menu, flexible-header

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Hyper Commerce is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

body{
	font-family: 'Fira Sans', sans-serif;
}

body{
	background-color: #F6F6F6; 
}

p, li, h1, h2, h3, h4, h5, h6, a{
	word-wrap: break-word;
}

.sticky{
  position: relative;
  border: 1px solid #e1e1e1;
  background: #fff;
  padding:40px;
}

.bypostauthor{ display: block; }

.alignright{
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.alignleft{
  display: inline;
	float: left;
	margin-right: 1.5em;
}

.aligncenter{
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.flexslider .slides .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #FFFFFF;
	background-color: unset;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 7px;
	padding-right: 7px;
}
.no-padding{
	padding: 0;
}
.no-padding-left{
	padding-left: 0;
}
.custom-header {
margin:30px auto;
}
.header-bottom .site-branding{
	float: left;
	margin-left: 15px;
}
.site-branding .site-title {
	font-weight: 400;
	font-size: 26px;
	letter-spacing: -0.6px;
	line-height: 39px;
	text-transform:uppercase;
	margin-bottom:0px;
}
.search-for {
/*margin-top:15px;*/
/*float:right;*/
text-align: center;
}
.site-title a{
	color: #FF4B59;
}
.site-header .header-top .search-form{
	margin-top: 20px;
}
.site-header .header-top .search-form .search-field{
	min-width: 355px;
	min-height: 32px;
	border: 1px solid #D7D7D7;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.search-form .screen-reader-text{
	display: none;
}

.site-header .header-top .search-form .search-submit{
	width: 95px;
	margin-left: -9px;
	border-radius: 5px;
	border: 1px solid #00459C;
	background-color: #00459C;
	height: 32px;
    padding-bottom: 11px;
    padding: 0;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
}
.site-header .header-top .search-form .search-field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #6D737B;
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
}
.navbar-nav{
	padding-left: 7px;
}
 .yamm .dropdown.yamm-fw .dropdown-menu{
 	margin-left: 7px;
 	margin-right: 6px;
 	border-radius: 0;
 }
.header-bottom{
	border-top: 1px solid rgba(255, 56, 71, 0.3);
	border-bottom: 1px solid rgba(255, 56, 71, 0.3);
	margin-top: 10px;
	background: #FF4B59;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding: 0;
}
.navbar-default .navbar-nav > li > a{
	padding: 0;
	color: #FFFFFF;
	letter-spacing: -0.17px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #ffffff;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:active, .navbar-default .navbar-nav > .open > a:focus{
	color: #ffffff;
}
.navbar-default .navbar-nav > li{
	margin-right: 48px;
	font-weight: 400;
	font-size: 14px;
}
.nav li.yamm-fw{
	font-size: 16px;
	
}
.nav li.yamm-fw a{
	color: #FF8558;
}
.navbar-default .navbar-nav > li:last-child{
	margin: 0;
}
.navbar-default{
	border-radius: 0;
	border: none;
	background-color: transparent;
	margin-bottom: 0;
	min-height: 10px;
	padding: 13px 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
		background: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		background: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #424242;
	}
.cart-account{
	margin-top: 20px;
}
.cart-account .header-cart{
	float:right;
	margin-top:15px;
}
.cart-account .header-cart .fa{
	font-size: 23px;
	color: #C0C0C0;
}
.cart-account .header-cart .cart-dropdown{
	display: inline-block;
}
.cart-account .header-cart .btn-cart{
	background: transparent;
	border: none;
	padding-left: 10px;
	padding-top: 0;
	font-size: 13px;
	font-weight: 600;
	color: #424242;
	padding-top: 2px;
}
.cart-account .account {
	display: inline-block;
	margin-left: 29px;
}
.cart-account .account .account-dropdown{
	display: inline-block;
}
.cart-account .account .btn-account{
	background: transparent;
	border: none;
	padding-left: 10px;
	padding-top: 0;
	font-size: 13px;
	font-weight: 600;
	color: #424242;
	padding-top: 2px;
	padding-right: 0;
}
.cart-account .dropdown-menu{
	right: 0;
	left: unset;
}
.site{
	/*background-color: #F6F6F6;*/
}
.top-section{
	padding-top: 15px;
}
.top-section .widget_category{
	width: 100%;
	min-height: 100px;
	background-color: #FFFFFF;
}
.top-section .widget-area{
	background-color: #EDEDED;
	overflow-y: scroll;
	overflow-x: hidden;
}
.top-section .widget-area ul{
	padding-left: 0;
	list-style-type: none;
}
.top-section .widget-area ul li{
	padding: 10px 15px !important;
	font-weight: 400;
	font-size: 13px;
}
.top-section .widget-area ul li:hover{
	background: #FF4B59;
}
.top-section .widget-area ul li:hover a{
	color: #ffffff;
}
.top-section .widget-area ul li a{
	color: #3A3A3A;
	text-decoration: none;
}
.flexslider{
	margin: 0px;
	padding: 0;
	border: none;
}
.flex-control-nav{
	bottom: 0;
}
.flex-direction-nav a:before{
	color: #FFFFFF;
	margin-top: -5px;
}
.caption{
	position: absolute;
	bottom: 25%;
	left: 6%;
}
.caption h2{
	font-weight: 400;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 44px;
}
.caption .btn-shop{
	background: #FD192A;
	border-radius: 22px;
	min-width: 110px;
	min-height: 32px;
	color: #FFFFFF;
	font-size: 14px;
}
.site-content#content{
	margin-top: 15px;
}
.page #secondary.widget-area, .archive #secondary.widget-area{
	margin-top: 20px;
}
.woocommerce.archive #secondary.widget-area{
	margin-top: unset;
}

/**Shop card*/
.shop-card{
	position: relative;
}
.shop-card .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
}
.shop-card .text-holder{
	position: absolute;
	left: 20px;
	bottom: 12%;
	width: 45%;
}
.shop-card .text-holder h2{
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
}
.shop-card .text-holder .btn.shop{
	background: #06359E;
	box-shadow: 0 0 2px 0 rgba(68,68,68,0.50);
	border-radius: 22px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 29px;
	min-width: 115px;
	padding: 0;
	max-height: 32px;
	margin-top: 25px;
}
.shop-card .text-holder h2 a{
	color: #ffffff;
	text-decoration: none;
}
.main-section .site-content{
	padding-top: 50px;
}
.main-section .site-content section{
	margin-bottom: 80px;
}
.main-section .site-content .shop_category{
	overflow: hidden;
}
.main-section .site-content .shop_category img{
	width: 100%;
}
.main-section .site-content .section-title{
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #424242;
	margin: 0;
	padding-left: 7px;
	padding-bottom: 5px;
}


.main-section .site-content .featured_product{
	overflow: hidden;
}
.featured_product .hentry{
	width: 100%;
	min-height: 275px;
	background-color: #FFFFFF;
	margin-bottom: 15px;
}
.featured_product .hentry .text-holder{
	padding: 20px;
}
.featured_product .hentry .product_title{
	font-weight: 300;
	font-size: 20px;
	line-height: 29px;
	margin-top: 0;
}
.featured_product .hentry .product_title a{
	color: #565656;
	text-decoration: none;
}
.featured_product .hentry .price .amount{	
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}
.featured_product .hentry .price .amount a{
	color: #FF4B59;
	text-decoration: none;
}
.featured_product .hentry .featured-img{
	min-height: 238px;
}
.featured_product .hentry .featured-img img{
	margin: 0 auto;
	display: block;
}


/*styleguide*/

.featured-img img{
	width: 100%;
	max-width: 100%;
	display: block;
	height: auto;
}
.entry-content h1{
	margin: 0;
	line-height: 1.6em;
	font-size: 30px;
	font-weight: 500;
	color: #424242;
}
.entry-content h3{
	margin: 0;
	line-height: 1.6em;
	font-size: 24px;
	font-weight: 400;
	color: #424242;
}
.entry-content h4{
	margin: 0;
	line-height: 1.6em;
	font-size: 22px;
	font-weight: 400;
	color: #424242;
}
.entry-content h5{
	margin: 0;
	line-height: 1.6em;
	font-size: 20px;
	font-weight: 400;
	color: #424242;
}
.entry-content h6{
	margin: 0;
	line-height: 1.6em;
	font-size: 16px;
	font-weight: 400;
	color: #424242;
}
.entry-content p{
	font-size: 16px;
	font-weight: 400;
	color: #3A3A3A;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
	margin: 0;
	padding-bottom: 15px;
}
.entry-content .pull-right{
	float: right;
	color: #3A3A3A;
	width: 32%;
	border-top: 3px solid #FF4B59;
	padding: 10px 20px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 600;
	line-height: 26px;
	font-size: 16px;
	margin: 1.5% 5% 2% 0;
}
.entry-content .pull-left{
	float: left;
	color: #3A3A3A;
	width: 32%;
	border-top: 3px solid #FF4B59;
	padding: 10px 20px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 600;
	line-height: 26px;
	font-size: 16px;
	margin: 1.5% 5% 2% 0;
}
.entry-content img{
	max-width: 100%;
	height: auto;
	display: block;
	/*width: 100%;*/
}
.entry-content figure.wp-caption{
	position: relative;
	/*margin: 35px 0 50px 0;*/

}
.entry-content .wp-caption-text{
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}
.entry-content h2{
	color: #424242;
	font-size: 26px;
	line-height: 1.6em;
	margin: 0;
}
.entry-content blockquote{
	border-left: 3px solid #FF4B59;
	position: relative;
	padding: 0;
	padding-left: 20px;
	margin: 35px 0 50px 0;
}
.entry-content blockquote p{
	font-family: 'Open Sans', sans-serif;
	color: #3A3A3A;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	width: 90%;
	padding-left: 5px;
	padding-bottom: 10px;
}
.entry-content blockquote p:before{
	content: ' " ';
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #343434;
	font-size: 24px;
	top: -10px;
	left: 1%;
}
.entry-content code{
	width: 100%;
	border: none;
	background-color: #ffffff;
	padding: 25px;
	display:block;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.6em;
	margin: 15px 0;
}
.entry-content address {
  margin: 0 0 1.5em;
}

.entry-content pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

.entry-content .comments-area pre {
  background: #d7dee5;
}

.entry-content code, .entry-content kbd, .entry-content tt, .entry-content var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.entry-content abbr, .entry-content acronym {
  cursor: help;
}

.entry-content mark, .entry-content ins {
  background: #fff9c0;
  text-decoration: none;
}

.entry-content sup, .entry-content sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.entry-content sup {
  bottom: 1ex;
}

.entry-content sub {
  top: .5ex;
}

.entry-content small {
  font-size: 75%;
}
.entry-content dt {
  font-weight: bold;
}

.entry-content dd {
  margin: 0 1.5em 1.5em;
}
.entry-content table{
	margin: 15px 0;
	min-height: .01%;
	width: 100%;
	max-width: 100%;
  overflow-x: auto;
}
.entry-content table thead th{
	border-bottom: none;
	color: #ffffff;
	background-color: #FF4B59;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding:10px;
}
.entry-content table tbody th,
.entry-content table tbody td{
	background:none;
	border-top: none;
	border-bottom: 1px solid #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding:10px;
}
.entry-content ul{
	margin: 15px 0;
	padding-left: 15px;
	list-style-type: square;
}
.entry-content ul li{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #343434;
	line-height: 26px;
}

.entry-content ol{
	margin: 15px 0;
	padding-left: 15px;
	list-style-type: decimal;
}
.entry-content ol li{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #343434;
	line-height: 26px;
}
.entry-content .highlight{
	background-color: #fff198;
}
::selection{
	background-color: #fff198;
}
.entry-content form{
	margin: 15px 0;
}
.entry-content form label{
	font-weight: 500;
	color: #6D737B;
	font-size: 18px;
	line-height: 26px;
	padding-top: 15px;
	display: block;
}
.entry-content form input{
	display: block;
	width: 100%;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    padding: 13px;
}
.entry-content form textarea{
	display: block;
	width: 100%;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
}
.entry-content form select{
	display: block;
	    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

}
.entry-content form div input[type=radio]:checked + label,
.entry-content form div input[type=radio]:not(:checked) + label{
	color: #6D737B;
	display: inline-block;
	margin-right: 45px;
	font-weight: 400;
	font-size: 14px;
	padding-top: 0;
	margin-left: 10px;
}
.entry-content form div label input[type=radio]{
	margin: 0;
	margin-right: 10px;
}

.entry-content form input[type=radio]{
	-webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    display: inline-block;
    width: auto;
}
/*.entry-content form input[type=radio]:first-of-type{
	margin-left: 0;
}*/
/*.entry-content form input[type=radio] ~ * {
	border: 1px solid red;
	padding-right: 20px;
}*/

.entry-content form input[type=checkbox]{
	-webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}
.entry-content form div label{
	color: #6D737B;
	margin-right: 45px;
	font-weight: 400;
	font-size: 14px;
	padding-top: 0;
}
.entry-content form input[type=file]{
-webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    width: auto;
    border: none;
    padding: 0;
    margin: 15px 0;
   font-weight: 400;
   color: #6D737B;
}
.entry-content form input[type=file]::-webkit-file-upload-button{
	background-color: #DADADA;
	padding: 10px 30px;
	font-size: 14px;
	font-weight: 500;
	color: #6D737B;
	border-color: transparent;
}
.entry-content form button{
	background-color: #00459C;
	color: #ffffff;
	padding: 10px 30px;
	font-weight: 500;
	font-size: 14px;
	border-color: transparent;
}

.entry-content .gallery .gallery-item{
	width: 31.8%;
	display: inline-block;
	margin: 5px;

}
.entry-content .gallery .gallery-item .gallery-caption{
	position: static;
	background-color: transparent;
	color: #3A3A3A;
	padding: 10px 0;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
}

.woocommerce .products{
	padding-left: 0;
	padding-bottom: 0 !important;
	list-style-type: none;
}
.woocommerce .products .product{
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}
.woocommerce .products .product a{
	text-decoration: none;
}
.woocommerce .products .text-holder{
	padding: 20px;
	background-color: #FFFFFF;
}
.woocommerce .products .wp-post-imgae{
	background-color: #FFFFFF;
}
.woocommerce .products .text-holder del .amount{
	font-weight: 400;
	font-size: 16px;
	color: #7B7B7B;
	margin-right: 10px;
}
.woocommerce .products .text-holder .amount{
	font-weight: 600;
	color: #FF4B59;
	font-size: 18px;
}
.woocommerce .products .woocommerce-loop-product__title{
	font-weight: 300;
	font-size: 20px;
	margin-top: 0;
	color: #565656;
}
.woocommerce .star-rating::before {
    top: 0;
    position: absolute;
    left: 0;
    color: #3a3a3a !important;
	opacity:1;
}
.woocommerce .star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.3em;
    font-family: star;
    font-weight: 400;
}
.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
.woocommerce .product .featured-img{
	overflow: hidden;
}
.woocommerce .product img{
	 display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.woocommerce ul.products li.product:hover img {

	/*filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);*/
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.woocommerce .products .product .add_to_cart_button{
  min-width: 70%;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(255,75,89,0.9);
  text-align: center;
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
-webkit-transition: 0.2s;
  transition: 0.2s;


}
.woocommerce .products .product:hover .add_to_cart_button{
	opacity: 1;
  	top: 23px;
    
}


.arrival{
	overflow: hidden;
}
.arrival-card-wrapper .card-wrapper{
	background: #FFFFFF;
	width: 100%;
	min-height: 105px;
	overflow: hidden;
	margin-bottom: 15px;
}
.arrival-card-wrapper .card-wrapper .img-holder {
	width: 40%;
	display: flex;
	align-items: center;
	float: left;
	min-height: 100px;
}

.arrival-card-wrapper .card-wrapper .img-holder img{
	margin: 0 auto;
}
.arrival-card-wrapper .card-wrapper .text-holder{
	width: 60%;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}
.arrival-card-wrapper .card-wrapper .text-holder h2{
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	margin: 0;
}
.arrival-card-wrapper .card-wrapper .text-holder h2 a{
	color: #303030;
	text-decoration: none;
}
.arrival-card-wrapper .card-wrapper .text-holder span{
	padding-right: 30px;
	font-size: 14px;
	font-weight: 400;
	color: #7B7B7B;
}
.arrival .arrival-card-wrapper .card-wrapper .text-holder span{
	padding-right: 1px;
	color: #FF4B59;
}


.arrival-price-mini {
	padding-top: 15px;
}

.arrival-card-wrapper .card-wrapper .text-holder p{
	font-size: 14px;
	font-weight: 400;	
	padding-top: 15px;
	display: inline-block;
}
.arrival-card-wrapper .card-wrapper .text-holder p a{
	color: #FF4B59;
	text-decoration: none;	
}









.owl-carousel .brands{
	width: 100%;
	min-height: 200px;
	background-color: #FFFFFF;
	 display: flex;
  align-items: center;
}
.owl-carousel .owl-item img{
	width: unset;
	margin: 0 auto;

}
.owl-nav{
	position: absolute;
    top: 0;
    right: 0;
    margin-top: -27px;
}
.owl-nav .fa{
	line-height: 20px;
}
.owl-prev{
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
	background: #EDEDED;
	line-height: 20px;
	margin-right: 3px;
}
.owl-next{
	display: inline-block;
	height: 20px;
	width: 20px;
	background: #EDEDED;
	line-height: 20px;	
	text-align: center;
}







/*.nav{
	position: relative;
	display: inline-block;
}*/


#crumbs{
	margin-left: 7px;
	padding-top: 20px;
	word-wrap: break-word;
	font-weight: 400;
	font-size: 13px;
}
#crumbs a{
	color: #7F7F7F;
	text-decoration: none;
}
#crumbs .current{
	color: #7F7F7F;
	text-decoration: none;	
}























/*single-page*/
.single .post{
	padding-bottom: 200px;
}
.post.hentry img{
	max-width: 100%;
	height: auto;
	display: block;
}
.entry-header{
	padding-bottom: 15px;
}
.entry-header h1.entry-title{
	font-weight: 600;
	font-size: 30px;
	color: #424242;
	line-height: 32px;
}
.entry-header .entry-meta{
	font-size: 14px;
	color: #7F7F7F;
	font-weight: 400;
}
.entry-header .entry-meta a{
	color: #7F7F7F;	
}

.single .entry-content{
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 35px;
}
.tags{
	list-style-type: none;
	padding-left: 0;
	padding-top: 50px;
	margin: 0;
}
.tags li{
	display: inline-block;
	margin-right: 10px;
	background-color: #DADADA;
	padding: 9px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
}
.tags li:first-child{
	background-color: unset;
	font-size: 20px;
	color: #C0C0C0;
	margin-right: 5px;
}
.tags li a{
	color: #6D737B;
}
.author-section{
	margin-top: 60px;
}
.author-section .img-holder{
	width: 22%;
	float: left;
	margin-right: 30px;
}
.author-section .author-header{
	font-size: 24px;
	color: #424242;
	font-weight: 400;
}
.author-section .text-holder{
	width: 78%;
	padding-top: 15px;
}
.author-section .text-holder p{
	font-family: 'Open Sans', sans-serif;
	color: #3A3A3A;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.author-section .social-icons{
	list-style-type: none;
}
.author-section .social-icons li{
	display: inline-block;
	font-size: 22px;
	margin-right: 15px;
}
.author-section .social-icons li .fb{
	color: #3B5998;
}
.author-section .social-icons li .tw{
	color: #0084B4;
}
.author-section .social-icons li .gp{
	color: #D34836;
}
.comments-area{
	margin-top: 60px;
}
.comments-area .comments-title{
	font-size: 24px;
	font-weight: 400;
	color: #424242;
}
.comments-area .comment-list{
	padding-left: 0;
	list-style-type: none;
}
.comments-area .comment-author img{
	float: left;
	margin-right: 15px;
}
.comment-author .fn a, .comment-author .says{
	color: #6D737B;
	font-weight: 400;
	font-size: 18px;
}
.comments-area .comment-metadata {
	color: #6D737B;
	font-weight: 400;
	font-size: 13px;
	padding: 5px 0;
}
.comments-area .comment-metadata a{
	color: #6D737B;
}
.comments-area .comment-content p{
	font-family: 'Open Sans', sans-serif;
	color: #3A3A3A;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
.comment-list .comment-content, .comment-list .reply{
	margin-left: 103px;
}
.comment-list .reply{
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}
.comment-list .reply a{
	color: #FF4B59;
}
.comment-list .comment-body{
	padding: 20px 0;
}
.comment-list .children{
	list-style-type: none;
	padding-left: 103px;
	border-top: 1px solid #979797;
}

.comment-respond{
	margin-top: 60px;
}
.comment-respond .comment-leave-title{
	font-size: 24px;
	color: #424242;
	font-weight: 400;
}
.comment-respond .comment-form p{
	padding-top: 20px;
}
.comment-respond .comment-form label{
	font-size: 18px;
	color: #6D737B;
	font-weight: 600;
	line-height: 26px;
}
.comment-respond .comment-form .form-control{
	min-height: 45px;
	width: 60%;
}
.comment-respond .comment-form .submit{
	background: #00459C;
	border-radius: 4px;	
	height: 40px;
	min-width: 125px;
	font-weight: 600;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	border-color: transparent;
}

/*singlepage ends*/



/*blog*/

.entry-header h2.entry-title{
	font-size: 26px;
	font-weight: 600;
	line-height: 36px;
	margin-top: 0;
}
.entry-header h2.entry-title a{
	color: #424242;
}
.blog .post{
	margin-bottom: 30px;
	overflow: hidden;
}
.blog .post .featured-img{
	float: left;
	padding-right: 15px;
	width: 47.33%;
}
.blog .post .text-holder {
	width: 100%;
}
.blog .post.has-post-thumbnail .text-holder{
	width: 52.67%;
	float: right;
}
.post .entry-excerpt p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #686868;
	line-height: 26px;
}
.post .entry-footer .btn.read-more{
	padding: 10px 27px;
	background-color: #00459C;
	color: #ffffff;
	font-weight: 500;
	margin-top: 15px;
}
.blog .post .featured-img img{
		width: 100%;
}


/*pagination*/

.navigation.pagination{
	width: 100%;
	text-align: center;
}
.navigation.pagination .nav-links a{
	display: inline-block;
	background-color: #EDEDED;
	padding: 13px;
	color: #3A3A3A;
}
.navigation.pagination .nav-links .current{
	background-color: #FF4B59;
	padding: 13px;
	color: #ffffff;
}

.nav-links .nav-previous{
	float: left;
}
.nav-links .nav-next{
	float: right;

}

.page-links {
	width: 100%;
	text-align: center;
}

.page-links a{
	display: inline-block;
	background-color: #EDEDED;
	padding: 13px;
	color: #3A3A3A;
}

/*widget*/
footer .widget .tagcloud a{
	color: #FFFFFF;
}

.widget .tagcloud a{
	color: #3A3A3A;
}
.widget-area .widget{
	background-color: #EDEDED;
}
.widget-area .widget img {
max-width:100%;
height:auto;
}
.widget-area .widget .widget-title{
	font-size: 14px;
	color: #ffffff;
	background-color: #00459C;
	padding: 15px;
	margin: 0;
	text-transform: uppercase;
}
.widget-area .widget{
	margin-bottom: 15px;
}
.widget-area .widget ul{
	list-style-type: none;
	padding-left: 0;
}
.widget-area .widget ul li{
	padding: 15px;
}
.widget-area .widget ul li:hover{
	background-color: #FF4B59;
}
.widget-area .widget.woocommerce ul li:hover{
	background-color: #FF4B59;
}
.widget-area .widget.woocommerce ul li:hover a{
	color: #ffffff;
}
.widget-area .widget ul li:hover a{
	color: #ffffff;
}
.widget-area .widget ul li:hover .text .date{
	color: #ffffff;
}
.widget-area .widget ul li .text h3{
	font-size: 15px;
	margin: 0;
	font-weight: 400;
	line-height: 1.6em;
}
.widget-area .widget ul li a{
	color: #3A3A3A;
	text-decoration: none;
}
.widget-area .widget ul li .text .date{
	font-size: 13px;
	color: #3A3A3A;
}
.widget-area .widget.widget_rss img{
	float: left;
	padding-right: 5px;
}
.widget-area .widget select{
	width: 90%;
	height: 40px;
	border: none;
	margin: 15px;
	background-color: #ffffff;
}
.widget-area .widget .search-form{
	padding: 15px;
}
.widget-area .widget .search{
	background-color: #EDEDED;
}
.widget-area .widget .search-form input[type="search"]{
	 padding: .5rem .75rem;
    color: #464a4c;
    float: left;
    margin-right: 3px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.widget-area .widget .search-form button, html input[type="button"], input[type="reset"], input[type="submit"]{
	padding: .5rem 1.75rem;
    background: #00459C;
    color: #ffffff;
    text-transform: capitalize;
    border-color: transparent;
}

#secondary .widget .textwidget {
padding:20px;
}
.widget .textwidget p {
line-height:1.6em;
font-family: 'Open Sans', sans-serif;
}

.widget.textwidget img {
max-width:100%;
height:auto;
line-height:1.4em;
}

.widget.widget_calendar table {
  position: relative;
  width: 100%; 
}

.widget.widget_calendar table td {
  color: #2d2d2d;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 11px 0; 
}

.widget.widget_calendar table td a {
  border: 1px solid #57bd62;
  display: inline-block;
  padding: 1px 0;
  border-radius: 50%;
  height: 32px;
  width: 32px; 
}

.widget.widget_calendar table caption {
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  background: #1D8bD8;
  padding: 10px 10px; 
}

.widget.widget_calendar table .fa {
  font-size: 16px;
  line-height: 20px;
  color: #fff; 
}

.widget.widget_calendar table #prev {
  text-align: left;
  padding: 20px 0 0; 
}
.widget.widget_calendar table #next {
  text-align: right;
  padding: 20px 0 0; 
}
.widget.widget_calendar table tbody td {
  /*width: 34px;
  height: 34px;*/ 
}
.widget.widget_calendar table .current {
  /*padding: 0;*/ 
}
.widget.widget_calendar table #prev a {
  display: block;
  background: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 11px;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  width: 50px; 
}
.widget.widget_calendar table #next a {
  height: 100%;
  background: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  width: 50px; 
}
.widget.widget_calendar table #next .fa {
  margin-left: 5px; 
}
.widget.widget_calendar table #prev .fa {
  margin-right: 5px; 
}
.widget.widget_calendar table thead {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #252628; 
}
.widget.widget_calendar table tbody {
  border: 1px solid #ebebeb;
  border-top: 0; 
}
.widget.widget_calendar table tbody td {
  border: 1px solid #ededed; 
}
.widget.widget_calendar table th {
  padding: 16px 6px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  background: #6C889C;
  color: #fff; 
  text-align: center;
}

.site-footer .widget-area .widget ul li a{
	color: #ffffff;
}
.site-footer .woocommerce ul.product_list_widget li span{
	color: #ffffff;
}

/*footer*/
.site-footer .widget-area .widget ul li{
	padding: 10px 0;
}
.site-footer .widget-area .widget ul li .text h3 a{
	color: #ffffff;
}
.site-footer .widget-area .widget ul li .text .date{
	color: #ffffff;
}
.site-footer .widget-area .widget ul li a{
	color: #ffffff;
}
.site-footer .widget-area .widget select{
	margin: 15px 0;
	color:#3a3a3a;
}
.site-footer .widget-area .widget .search-form{
	padding: 15px 0;
}
.site-footer .widget-area .widget .search{
	background-color: transparent;
}
.site-footer .widget.widget_calendar table caption{
	background: #636060;
}
.site-footer .widget.widget_calendar table th{
	background: rgba(99, 96, 96, 0.4);
}
.site-footer .widget.widget_calendar table td{
	color: #ffffff;
}
.site-footer .widget-area .widget ul li:hover{
	background: transparent;
}
.site-footer .widget_tag_cloud a{
	color: #ffffff;
	text-decoration: none;
}
.site-footer .widget.widget_calendar table td a{
	color: #ffffff;
	border: 1px solid #ffffff;
}

.site-footer .widget-area .widget.woocommerce ul li:hover {
background:transparent;
}

.site-footer .woocommerce .star-rating span::before {
    color: #3a3a3a !important;
}


.site-footer .widget-area .widget{
	background-color: unset;
}
.site-footer .widget .textwidget p {
line-height:1.6em;
font-family: 'Open Sans', sans-serif;
color:#ffffff;
}

.site-footer .widget .textwidget img {
max-width:100%;
height:auto;
line-height:1.4em;
}
.site-footer .holder{
	width: 100%;
	min-height: 200px;
	background-color: #797979;
}
.site-footer .holder .footer-feature{
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 70px;
}
.site-footer .holder .footer-feature .feature{
	margin-top: 70px;
}
.site-footer .holder .footer-feature .img-holder{
	float: left;
	margin-right: 30px;
}
.site-footer .holder .footer-feature .text-holder{
	padding-right: 35px;
}
.site-footer .holder .footer-feature .text-holder h2{
	font-weight: 600;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 22px;
}
.site-footer .holder .footer-feature .text-holder p{
	font-weight: 400;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 22px;
}
.site-footer .widget .widget-title{
	font-weight: 600;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	text-transform: uppercase;
	background-color: unset;
	padding: 0;
}
.woocommerce .site-footer .widget-area,
.site-footer .widget-area{
	padding: 60px 7px;
	color:#fff;
}

.widget.widget_calendar table td {
  color: #3a3a3a;
}


.site-footer .widget_subscribe p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 22px;
	width: 80%;
}
.site-footer .widget_subscribe .form-control{
	height: 40px;
	border-radius: 0;
	width: 80%;
}
.site-footer .widget_subscribe .btn-subscribe{
	background: #06359E;	
	box-shadow: 0 0 2px 0 rgba(68,68,68,0.50);	
	border-radius: 22px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 29px;
	height: 38px;
	min-width: 190px;
}
.site-footer .widget ul{
	list-style-type: none;
	padding-left: 0;
	background-color: unset;
}
.site-footer .widget ul li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: unset;
	padding-bottom: 10px;
}
.site-footer .widget ul li:hover{
	background-color: unset;
}
.site-footer .widget ul li a{
	color: #FFFFFF;
	text-decoration: none;
}
.site-footer .widget_social ul {
	padding-left: 0;
	list-style-type: none;
	background-color: unset;
}
.site-footer .widget_social ul li:hover{
	background-color: unset;
}
.site-footer .widget_social ul li{
	display: inline-block;
	padding: unset;
	padding-right: 15px;
}
.site-footer .widget_social ul li .fa{
	font-size: 19px;
	color: #FFFFFF;
}

.site-info {
background-color:#6d6d6d;
padding:8px 0px;
color:#e1e1e1;
}
.site-info a, visited {
color:#e1e1e1;
}


/*404 page*/
.error-404 {
  text-align: center;
  margin-bottom:35px;
}
.error-404 h1.page-title {
font-size:75px;
}
.error404 .home {
    display: inline-block;
    background: #000000;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 30px;
    position: relative;
    z-index: 2;
    transition: all 0.6s ease 0s;
    text-decoration: none;
}

.error404 .home:hover {
  background: #ffffff;
  color: #000;
}













@media (min-width: 320px) and (max-width: 479px){
	.site-content{
	padding: 5px;
}
	.navbar-nav{
		margin: 0;
		padding-left: 15px;
	}
	.navbar-default .navbar-toggle{
		border: none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #FF4B59;
	}
	.navbar-toggle:focus{
		background-color: transparent !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:none;
	}

	.site-header .header-top .search-form .search-field{
		min-width: 200px;
	}
	.site-header .header-top .search-form .search-submit{
		margin-left: -5px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: 35%;
	}
	.cart-account{
		text-align: center;
	}
	.cart-account .account{
		margin-left: 0;
	}
	.cart-account .cart{
		margin-right: 35px;
	}
	.flex-direction-nav{
   		display:none;
	}
	.navbar-default .navbar-nav > li{
		padding-top: 20px;
	}
	.flexslider{
		box-shadow: none;
	}
	.caption h2{
		color: #303030;
		font-size: 28px;
	}
	.caption{
		position: static;
		padding: 10px;
		margin-bottom: 20px;
	}
	.flexslider .slides img{
		object-fit: cover;
		min-height: 240px;
	}
	.main-section .site-content .shop_category img{
		margin-bottom: 10px;
	}
	.owl-carousel .brands{
		margin: 0 10px;
	}
	.owl-carousel .brands{
		width: 94%;
	}
	.site-footer .holder .footer-feature .img-holder{
		display: inline-block;
		width: 30%;
		margin-right: 20px;
	}
	.site-footer .holder .footer-feature .text-holder{
		width: 63%;
		display: inline-block;
	}
	.site-footer .holder .footer-feature .text-holder h2{
		margin-top: 0;
	}
	.header-bottom{
		background: unset !important;
	}
	.navbar-default .navbar-nav > li > a{
		color: #3A3A3A;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
		color: #3A3A3A;	
	}
	.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:active, .navbar-default .navbar-nav > .open > a:focus{
		color: #3A3A3A;		
	}
	#site-navigation ul ul{
		background-color: transparent !important;
	}
	#site-navigation ul ul li a{
		color: #3A3A3A;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #3a3a3a;
	background-color: unset;
}

#crumbs{
	padding-left: 15px;
}

	/*single*/

	.author-section .text-holder{
		width: 100%;
		padding-top: unset;
	}
	.comment-list .children{
		padding-left: 40px;
	}
	.comment-respond .comment-form .form-control{
		width: 100%;
	}


	/*blogs*/

	.blog .post .featured-img{
	float: unset;
	padding-right: 15px;
	width: 100%;
}
.blog .post.has-post-thumbnail .text-holder{
	width: 100%;
	float: unset;
}
	.blog .post .featured-img img{
		width: 100%;
	}

	/*styleguide*/

	.entry-content blockquote p{
		width: 100%;
	}
	.entry-content .pull-right{
		width: 100%;
		margin: 10px 0;
	}
	.entry-content .pull-left{
		width: 100%;
		margin: 10px 0;
	}
	.entry-content pre{
		width: 100%;
		overflow-x: auto;
	}
	.entry-content .gallery .gallery-item{
		width: 100%;
	}
}
@media (min-width: 480px) and (max-width: 559px){
	.navbar-nav{
		margin: 0;
		padding-left: 15px;
	}
	.navbar-default .navbar-toggle{
		border: none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #FF4B59;
	}
	.navbar-toggle:focus{
		background-color: transparent !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:none;
	}
	.site-header .header-top .search-form .search-field{
		min-width: 300px;
	}
	.site-header .header-top .search-form .search-submit{
		margin-left: -5px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: 35%;
	}
	.cart-account{
		text-align: center;
	}
	.cart-account .account{
		margin-left: 0;
	}
	.cart-account .cart{
		margin-right: 35px;
	}
	.flex-direction-nav{
   		display:none;
	}
	.navbar-default .navbar-nav > li{
		padding-top: 20px;
	}
	.flexslider{
		box-shadow: none;
	}
	.caption h2{
		color: #303030;
		font-size: 28px;
	}
	.caption{
		position: static;
		padding: 10px;
		margin-bottom: 20px;
	}
	.flexslider .slides img{
		object-fit: cover;
		min-height: 240px;
	}
	.main-section .site-content .shop_category img{
		margin-bottom: 10px;
	}
	.owl-carousel .brands{
		margin: 0 10px;
	}
	
	.site-footer .holder .footer-feature .img-holder{
		display: inline-block;
		width: 30%;
		margin-right: 20px;
	}
	.site-footer .holder .footer-feature .text-holder{
		width: 63%;
		display: inline-block;
	}
	.site-footer .holder .footer-feature .text-holder h2{
		margin-top: 0;
	}
	.header-bottom{
		background: unset !important;
	}
	.navbar-default .navbar-nav > li > a{
		color: #3A3A3A;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
		color: #3A3A3A;	
	}
	.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:active, .navbar-default .navbar-nav > .open > a:focus{
		color: #3A3A3A;		
	}
	#site-navigation ul ul{
		background-color: transparent !important;
	}
	#site-navigation ul ul li a{
		color: #3A3A3A;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #3a3a3a;
	background-color: unset;
}


.site-content{
	padding: 5px;
}
#crumbs{
	padding: 15px;
}
/*single*/

	.author-section .text-holder{
		width: 100%;
		padding-top: unset;
	}
	.comment-list .children{
		padding-left: 40px;
	}
	.comment-respond .comment-form .form-control{
		width: 100%;
	}


	/*blogs*/

	.blog .post .featured-img{
	float: unset;
	padding-right: 15px;
	width: 100%;
}
.blog .post.has-post-thumbnail .text-holder{
	width: 100%;
	float: unset;
}
	.blog .post .featured-img img{
		width: 100%;
	}


	/*styleguide*/

	.entry-content blockquote p{
		width: 100%;
	}
	.entry-content .pull-right{
		width: 100%;
		margin: 10px 0;
	}
	.entry-content .pull-left{
		width: 100%;
		margin: 10px 0;
	}
	.entry-content pre{
		width: 100%;
		overflow-x: auto;
	}
	.entry-content .gallery .gallery-item{
		width: 47%;
	}

}
@media (min-width: 600px) and (max-width: 767px){
	.navbar-nav{
		margin: 0;
		padding-left: 15px;
	}
	.navbar-default .navbar-toggle{
		border: none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #FF4B59;
	}
	.navbar-toggle:focus{
		background-color: transparent !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:none;
	}
	.site-header .header-top .search-form .search-field{
		min-width: 300px;
	}
	.site-header .header-top .search-form .search-submit{
		margin-left: -5px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: 35%;
	}
	.cart-account{
		text-align: center;
	}
	.cart-account .account{
		margin-left: 0;
	}
	.cart-account .cart{
		margin-right: 35px;
	}
	.flex-direction-nav{
   		display:none;
	}
	.navbar-default .navbar-nav > li{

		padding-top: 20px;
	}
	.flexslider{
		box-shadow: none;
	}
	.caption h2{
		color: #303030;
		font-size: 28px;
	}
	.caption{
		position: static;
		padding: 10px;
		margin-bottom: 20px;
	}
	.flexslider .slides img{
		object-fit: cover;
		min-height: 240px;
	}
	.main-section .site-content .shop_category img{
		margin-bottom: 10px;
	}
	.woocommerce .product img{
		width: 100%;
	}
	.owl-carousel .brands{
		margin: 0 10px;
	}
	
	.site-footer .holder .footer-feature .img-holder{
		display: inline-block;
		width: 30%;
		margin-right: 20px;
	}
	.site-footer .holder .footer-feature .text-holder{
		width: 63%;
		display: inline-block;
	}
	.site-footer .holder .footer-feature .text-holder h2{
		margin-top: 0;
	}
	.header-bottom{
		background: unset !important;
	}
	.navbar-default .navbar-nav > li > a{
		color: #3A3A3A;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
		color: #3A3A3A;	
	}
	.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:active, .navbar-default .navbar-nav > .open > a:focus{
		color: #3A3A3A;		
	}
	#site-navigation ul ul{
		background-color: transparent !important;
	}
	#site-navigation ul ul li a{
		color: #3A3A3A;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #3a3a3a;
	background-color: unset;
}



.site-content{
	padding: 5px;
}
#crumbs{
	padding: 15px;
}
/*single*/

	.author-section .text-holder{
		width: 100%;
		padding-top: unset;
	}
	
	.comment-respond .comment-form .form-control{
		width: 100%;
	}


	/*blogs*/

	.blog .post .featured-img{
	float: unset;
	padding-right: 15px;
	width: 100%;
}
.blog .post.has-post-thumbnail .text-holder{
	width: 100%;
	float: unset;
}
	.blog .post .featured-img img{
		width: 100%;
	}


	/*styleguide*/

	.entry-content blockquote p{
		width: 100%;
	}
	.entry-content .pull-right{
		width: 100%;
		margin: 10px 0;
	}
	.entry-content .pull-left{
		width: 100%;
		margin: 10px 0;
	}
	.entry-content pre{
		width: 100%;
		overflow-x: auto;
	}
	.entry-content .gallery .gallery-item{
		width: 31.1%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.navbar-nav{
		padding-left: 30px;
	}
	.navbar-default .navbar-toggle{
		border: none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #FF4B59;
	}
	.navbar-toggle:focus{
		background-color: transparent !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:none;
	}
	.navbar-default .navbar-nav > li{
		padding-top: 20px;
	}
	/*.navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }*/
	.site-header .header-top .search-form .search-field{
		min-width: 200px;
	}
	.site-header .header-top .search-form .search-submit{
		margin-left: -4px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: 85px;
	}
	.site-footer .holder .footer-feature .img-holder{
		float: unset;
	}

#crumbs{
	padding-left: 15px;
}
/*single*/

	.author-section .text-holder{
		width: 100%;
		padding-top: unset;
	}


	.entry-content blockquote p{
		width: 100%;
	}
	
	.entry-content pre{
		width: 100%;
		overflow-x: auto;
	}
	.entry-content .gallery .gallery-item{
		width: 31.1%;
	}
	
}
@media (min-width: 992px) and (max-width: 1199px){}
@media (min-width: 1200px) and (max-width: 1365px){
	.post .entry-footer .btn.read-more{
		margin-top: 5px;
	}
}
@media (min-width: 1440px) and (max-width: 1899px){}
@media (min-width: 1900px) and (max-width: 2500px){}
