/*.woocommerce{
	margin-top: 15px;
	background: #EDEDED;
}*/
.woocommerce .widget-area{
	padding-top: 5px;
	/*padding-bottom: 60px;*/
}
.woocommerce .woocommerce .widget-title{
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	background: #00459C;
	padding: 10px 15px;
	letter-spacing: 0;
	line-height: 1.6em;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li{
	margin-top: 30px;
}
.woocommerce.widget_shopping_cart ul.cart_list li img, .woocommerce.widget_shopping_cart ul.product_list_widget li img{
	width: 80px;
	height: 80px;
	margin-top: -20px;
}
.woocommerce ul.cart_list li a{
	font-weight: 400;
	font-size: 13px;
	color: #3A3A3A;
	padding-left: 10px;
}
.woocommerce ul.cart_list li span.quantity{
	padding-left: 10px;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove{
	font-size: 30px;
	color: #FF4B59;
}
.woocommerce a.remove:hover{
	background: transparent;
	color: #FF4B59 !important;
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total{
	border-top: 3px double #ffffff;
}
.woocommerce .widget_shopping_cart .total strong, .woocommerce.widget_shopping_cart .total strong{
	font-weight: 600;
	font-size: 14px;
	padding: 10px 15px;
}
.woocommerce .widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a{
	margin: 10px 15px;
	background: #00459C;
	color: #ffffff !important;
	font-size: 13px;
	font-weight: 400;
	border-color: transparent;
}
.woocommerce .woocommerce-product-search{
	padding: 15px;
}
.site-footer .woocommerce .woocommerce-product-search{
	padding: 15px 0px;
}

.woocommerce .woocommerce-product-search .search-field{
	padding: .5rem .75rem;
	color: #464a4c;
	    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.woocommerce .woocommerce-product-search button, html input[type="button"], input[type="reset"], input[type="submit"]{
	padding: .5rem 1.75rem;
	background: #00459C;
	color: #ffffff;
	border-color: transparent;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item{
	padding: 15px;
	font-size: 13px;
	font-weight: 400;
	color: #3A3A3A;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:hover{
	background: #FF4B59;
	cursor: pointer;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:hover a{
	color: #ffffff;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:hover span{
	color: #ffffff;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a, .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span{
	color: #3A3A3A;
	text-decoration: none;
}
.woocommerce.widget_product_categories .dropdown_product_cat{
	margin: 15px;
	width: 89%;
	height: 40px;
	border: none;
}

.woocommerce.widget_product_categories .product-categories{
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 15px;
}
.woocommerce.widget_product_categories .product-categories .cat-item{
	padding: 15px 15px 0 15px;
}
.woocommerce.widget_product_categories .cat-item:hover{
	background-color: unset;
}
.woocommerce.widget_product_categories .product-categories .children{
	list-style-type: none;
	padding-left: 0;
	font-size: 13px;
	font-weight: 400;
}
.woocommerce.widget_product_categories .product-categories .cat-item a, .woocommerce.widget_product_categories .product-categories .cat-item span{
	color: #3A3A3A;
	text-decoration: none;
}

.site-footer .woocommerce.widget_product_categories .product-categories .cat-item a, .site-footer 
.woocommerce.widget_product_categories .product-categories .cat-item span {
	color: #ffffff;
	text-decoration: none;
}


.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
	height: 80px;
	width: 80px;
	/*margin-top: -20px;*/
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li{
	padding: 20px 0 0 15px;
}

.site-footer .woocommerce .widget_shopping_cart .cart_list li a.remove, 
.site-footer .woocommerce.widget_shopping_cart .cart_list li a.remove {
top:10px;
left:-15px;
font-size:20px;
}

.woocommerce ul.product_list_widget li span{
	font-size: 14px;
	font-weight: 400;
	color: #3A3A3A;
}
.site-footer .woocommerce ul.product_list_widget li span {
	font-size: 14px;
}
.woocommerce ul.product_list_widget li del{
	padding-right: 30px;
}
.woocommerce.widget_products ul li a{
	padding-left: 0;
	text-decoration: none;
}
.woocommerce ul.product_list_widget li:hover {
	background-color: #FF4B59;
}
.woocommerce ul.product_list_widget li:hover span{
	color: #ffffff;
}
.woocommerce.widget_shopping_cart li:hover {
	background-color: unset !important;
}
.woocommerce.widget_shopping_cart li:hover span{
	color: unset !important;
}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a{
	color: #3A3A3A;
	font-size: 13px;
	font-weight: 400;
}
.woocommerce ul.product_list_widget li:hover a{
	color: #ffffff;
	text-decoration: none;
}

.woocommerce.widget_shopping_cart .product_list_widget li:hover a{
	color: unset !important;
}



.woocommerce h1.page-title{
	color: #424242;
	font-size: 18px;
	display: inline-block;
	padding-right: 30px;
	margin-top: 5px;
}
.woocommerce p.woocommerce-result-count{
	display: inline-block;
	float: unset;
}
.woocommerce .woocommerce-ordering{
	margin-top: 5px;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
	float: right;
}
.woocommerce .woocommerce-ordering select{
	border: 1px solid #D7D7D7;
    border-radius: 0px;
	height: 30px;
}
.woocommerce ul.products li.product a img{
	margin: 0;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
	font-size: 13px;
	padding: 13px;
	color: #3A3A3A;
	font-weight: 400;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current{
	background-color: #FF4B59;
	color: #ffffff;
}

.woocommerce nav.woocommerce-pagination ul{
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li{
	border-right: none;
	background: #EDEDED;
	margin-right: 5px;
}

/*Tabs*/
.woocommerce div.product .woocommerce-tabs ul.tabs{
	padding-left: 0;
	margin-bottom: 0;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li{
	margin-right: 5px;
	margin-left: 0;
	border-top: 1px solid #f1f1f1;
border-left: 1px solid #f1f1f1;
border-right: 1px solid #f1f1f1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li{
	border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li{
	border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs .panel{
	padding: 15px;
	border-radius: 0;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before{
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before{
	border: none;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
	float: unset;
	width: unset;
}
.woocommerce-form__label span{
	margin-left: 22px;
}
.woocommerce form .form-row .input-checkbox{
	margin: 4px 8px 0 0;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: #ff4b59;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background-color: #c3313c;
}
.top-section .widget-area .widget-title{
}
.woocommerce-info{
	background-color: #f1f1f1;
	border-left: 5px solid blue;
	border-top-color: unset;
	border-top: unset;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
	width: 50%;
	float: left;
	margin-right: 0;
	border-radius: 0;
}
.woocommerce .cart .coupon .button, .woocommerce .cart .coupon input.button{
	width: 50%;
	border-radius: 0;
	/*height: 32px;*/
	background: #00459C;
	color: #ffffff;
	font-weight: 400;
	padding-top: 7px;
	padding-bottom: 9px;
	margin-top: 0;
}

.woocommerce .cart input.button{
	width: 30%;
	background: #00459C;
	color: #ffffff !important;
	border-radius: 0;
	margin-top: 9px;
}
.woocommerce .header-cart .button{
	background-color: #00459C;
	color: #FFFFFF;
}
.woocommerce ul.products li.product .onsale{
	margin:0;
	background: #ff4b59;
	}
.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon{
	margin: 10px 0;
}
.woocommerce-error::before{
	left: 0.2em;
	top: 1.2em;
}
.woocommerce-error li, .woocommerce-info li, .woocommerce-message li{
	margin-left: 5px !important;
}
.woocommerce-error{
	border: unset;
}
.woocommerce .quantity .qty{
	height: 32px;
}
ul#mini-cart.dropdown-menu .woocommerce-mini-cart{
	list-style-type: none;
}
ul#mini-cart.dropdown-menu{
	width: 256px;
	padding: 15px;
}
ul#mini-cart.dropdown-menu li img{
	margin-top: -15px;
}
ul#mini-cart.dropdown-menu li{
	padding: unset;
	padding: 10px;
}
ul#mini-cart.dropdown-menu li:hover{
	background: unset;
}
ul#mini-cart.dropdown-menu li:hover span{
	color: #3a3a3a;
}
ul#mini-cart.dropdown-menu li a.remove{
	margin-left: -20px;
	padding-top: 13px;
}
ul#mini-cart.dropdown-menu li a{
color: #3A3A3A;
	font-size: 13px;
	font-weight: 400;
}

ul#mini-cart.dropdown-menu .woocommerce-mini-cart__buttons a:first-child{
	float: left;
}
ul#mini-cart.dropdown-menu .woocommerce-mini-cart__buttons a.checkout{
	float: right;
}

/*.related ul.products li.product{
	width: 29.5% !important;
}*/

.woocommerce .top-section .widget-area{
	padding-top: 0;
}

#site-navigation ul ul{
	background: #ff4b59;
	margin-top: 14px !important;
}
#site-navigation ul ul a{
	color: #ffffff;
}
.woocommerce a.added_to_cart{
	position: absolute;
	top: 0;
	width: 50%;
	background: #FF4B59;
	padding: 10px 17px;
	border-radius: 3px;
	text-align: center;
	margin-top: 15px;
	top: 27%;
	left: 26%;
	color: #ffffff;
}
.woocommerce ul.products li.product .price del{
	display: unset !important;
}
.woocommerce div.product form.cart .variations select{
	height: 40px;
	border: none;
	background: #ffffff;
}
.woocommerce div.product form.cart .variations label{
	font-size: 18px;
	color: #3A3A3A;
	text-transform: capitalize;
}
.woocommerce div.product form.cart .button{
	background-color: #FF4B59; 
}
.woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover{
	background-color: #00459C;
}
.widget .price_slider_wrapper{
	margin: 15px 10px;
}
.woocommerce input.button{
	line-height: 2;
	background-color: #00459C;
	color: #FFFFFF;
}
.woocommerce-message {
  border: none; 
  background-color: #D8F1CE;
}
.woocommerce-message .button.wc-forward{
	background: #00469b;
  color: #ffffff;
}
.woocommerce div.product form.cart .button:hover{
	background-color: #dad8da;  
	color: #515151;
}
.woocommerce #review_form #respond .form-submit input:hover{
	background-color: #dad8da;
	color: #515151;
}
.woocommerce #review_form #respond .form-submit input{
	color: #ffffff;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	color: #FFFFFF;
}
.woocommerce input.button.alt:hover{
	background-color: #dad8da;
	color: #515151;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
				background-color: #dad8da;
			}

.highlighted{
	color: #FFFFFF;
}